.box {
  color: blue;
  text-align: center;
  height: 900px;
  background-color: rgb(10, 9, 9);
}
.dayLight {
  background-color: rgb(241, 241, 195);
}

.alibml{
  text-align: right;
  padding: 10px;
}

  img{
    height: 80px;
  }